<h3><%= @user.name %> <small><%= @user.score %> Pts. </small></h3>

<table class="table">
  <thead>
    <tr>
      <th>Contrincante</th>
      <th>Resultado</th>
    </tr>
  </thead>

  <tbody>
    <% @battles.each do |battle| %>
      <tr>
        <td><%= battle.character.name %></td>
        <td><%= battle.result ? :Victoria : :Derrota %></td>
      </tr>
    <% end %>
  </tbody>
</table>