<div class=" text-center">
  <% if @battle.result %> 
    <%= image_tag("Victoria.png", :class => "img-responsive", :style => "width:70%") %>
  <% else %>
    <%= image_tag("defeat.png", :class => "img-responsive", :style => "width:50%") %>
  <% end %>
  <%= link_to 'Back', users_path, :class => "btn btn-primary" %>
</div>